@media screen and (max-width:450px) {

/* nav bar responsive */
    .nav-manu,.nav{
        flex-direction: column;
    }
    .nav{
        padding-bottom: 20px;
    }

    .nav-img{
        justify-content: center;
    }
    .nav-manu{
        gap: 30px;
        font-size: 20px;
    }

.nav-img,.nav-manu{
    width: 100%;
}
    

/*  */

.banner{
    flex-direction: column;
    gap: 30px;
    border-radius: 0;
    
}

.banner-title,.banner-img{
    width: 100%;
}


/* product container */


.products{
    grid-template-columns: 80%;
    justify-content: center;
}


/* discount */

.discount-container{

    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.discount-img,.discount-title{
    width: 100%;
}




}