@media screen and (max-width:450px) {

/* nav bar responsive */
    .nav-manu,.nav{
        flex-direction: column;
    }

    .nav-img{
        justify-content: center;
    }
    .nav-manu{
        gap: 30px;
        font-size: 20px;
    }

.nav-img,.nav-manu{
    width: 100%;
}
    

/*  */


}